
#index{
  background-image: url('https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466__340.jpg');
  }

  #editBody{
    background-image: url('https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466__340.jpg');
  }



#category{
  margin-top:30px;
}

#button{
  margin-right:350px;
}


#button1{
  margin-top: 30px;
 
  width:150px;
  height:50px;
  margin-bottom:30px;
}

#amountButton{
margin-right:30px;

}

#amountButton1{
  margin-top: 30px;
  width:150px;
  height:50px;
  margin-bottom:30px;
}


.totalAmount{
  color:#fbd14b;
  margin-left:100px;
  margin-top:30px;
  font-size: 100px;
}



#list{
   margin-left:120px;
   margin-bottom:10px;
   
}


#name{
  
  margin-left:5px;
}

.amount{
  margin-left:350px;
}

#date{
  font-size:8px;
}

#editButton{
   margin-left:10px;
   margin-top: 20px;
}

#newButton{
  margin-bottom:30px;
  margin-top: 15px;
}

.modify{
  margin-left:100px;
  color:#FBFFB9;
  
}

.modifyItem{
  color:#FBFFB9;
  font-weight: 900;
}

#input1{
  margin-left:120px;
  margin-top:5px; 
}

#modifyButton{
  margin-top:20px;
  width:175px;
  margin-left:170px
}


